.sidebar {
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  border-right: 1px solid #e8e8e8;
  padding: 30px 10px 0 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.sibebar-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sibebar-options_element {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
  color: #666666;
}

.sidebar a :hover {
  color: black;
}
