.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.layout__header {
  display: flex;
  width: 100%;
  height: 100px;
}

.layout__main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  background-color: #faf6e3;
  padding: 0 15%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.layout__footer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  background-color: #faf6e3;
  align-items: center;
  justify-content: center;
}
