.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.layout__header {
  display: flex;
  width: 100%;
  height: 100px;
}

.layout__main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  background-color: #faf6e3;
  padding: 0 20%;
  flex: 1;
  justify-content: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.05);
}

.layout__footer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  background-color: #faf6e3;
  align-items: center;
  justify-content: center;
}
